<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="hero-content flex-col gap-5">
    <h2 class="text-2xl font-bold mb-4">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field pt-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "user-profile-input-field", id: "new-user-email-field" %>
      </div>
      <div class="field pt-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" , class: "user-profile-input-field", id: "new-user-password-field" %>
      </div>
      <div class="field pt-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "user-profile-input-field", id: "new-user-password-confirm-field" %>
      </div>
      <div class="actions pt-4 pb-4">
        <%= f.submit "Sign up", class: "btn btn-primary btn-md", id: "signup-registration-btn" %>
      </div>
    <% end %>
  </div>
</div>