<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="hero-content flex-col gap-5">
    <h2 class="text-2xl font-bold mb-4">Resend confirmation instructions</h2>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "user-profile-input-field"%>
      </div>
      <div class="actions p-5">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-md" %>
      </div>
    <% end %>
  </div>
</div>