<div id="all-uploads-results">
  <% if @uploads.present? %>
    <div class="flex flex-col items-center justify-center p-5 h-full bg-slate-800 dark:bg-white">
      <button 
          onclick="window.location.reload();" 
          class="btn btn-primary btn-sm"
          aria-label="Refresh"
        >
        <i class="fas fa-sync"></i>
      </button>
      <div class="block 2xl:hidden">
        <% @uploads.each_with_index do |upload, index| %>
          <div class="bg-slate-700 dark:bg-gray-100 shadow-lg text-white dark:text-slate-900 p-3 mt-5 rounded-xl">
            <div class="w-1/4 h-1/2 rounded-xl">
              <% if upload.files.attached? %>
                <% input_file = upload.files.first %>
                <div class="">
                  <%= render "uploads/status_badge", upload: upload %>
                </div>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="w-12 h-12 mask mask-squircle">
                      <a href="<%= rails_blob_path(input_file, disposition: "attachment") %>" class="venobox" data-title="input file (<%= input_file.filename.to_s%>)" data-gall="gal-<%= index %>">
                        <%= image_tag input_file.variant(:thumb) %>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="font-bold"><%= input_file.filename.to_s %></div>
                    <div class="text-sm opacity-50"><%= input_file.created_at.to_s %></div>
                  </div>
                </div>
                <% if upload.files.attached? && upload.files.count > 1 %>
                  <% output_file = upload.files.second %>
                  <div class="flex items-center gap-3">
                    <div class="avatar">
                      <div class="w-12 h-12 mask mask-squircle">
                        <a href="<%= rails_blob_path(output_file, disposition: "attachment") %>" class="venobox" data-title="output file (<%= output_file.filename.to_s%>)" data-gall="gal-<%= index %>">
                          <%= image_tag output_file.variant(:thumb) %>
                        </a>
                      </div>
                    </div>
                    <div>
                      <div class="font-bold"><%= output_file.filename.to_s %></div>
                      <div class="text-sm opacity-50"><%= upload.updated_at.to_s %></div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div>
                <%= link_to "Details", upload_path(upload), class: "transition bg-slate-800 dark:bg-white ease-in-out delay-100 hover hover:bg-violet-500 hover:text-white text-slate-800 bg:text-white btn btn-xs" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="hidden 2xl:block bg-slate-700 dark:bg-gray-100 shadow-lg text-white dark:text-slate-900">
        <div data-controller="file-sort">
          <div class="flex justify-center gap-3">
            <button data-action="click->file-sort#sortAscending" class="btn">&#9650;</button>
            <button data-action="click->file-sort#sortDescending" class="btn">&#9660;</button>
          </div>
          <div class="overflow-x-auto">
            <table class="table" data-file-sort-target="fileList">
              <thead>
                <tr>
                  <th><label><input type="checkbox" class="checkbox hidden" disabled></label></th>
                  <th>Input</th>
                  <th>Output</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @uploads.each_with_index do |upload, index| %> <!-- Reverse order here -->
                  <% if upload.files.attached? %>
                    <% input_file = upload.files.first %>
                    <% if input_file.representable? %>
                      <tr data-created-at="<%= input_file.created_at.iso8601 %>">
                        <th>
                          <input type="checkbox" 
                   class="checkbox hidden" 
                   id="checkbox-<%= index %>"
                   disabled>
                        </th>
                        <td>
                          <div class="flex items-center gap-3">
                            <div class="avatar">
                              <div class="w-12 h-12 mask mask-squircle">
                                <a href="<%= rails_blob_path(input_file, disposition: "attachment") %>" class="venobox" data-title="input file (<%= input_file.filename.to_s%>)" data-gall="gal-<%= index %>">
                                  <%= image_tag input_file.variant(:thumb) %>
                                </a>
                              </div>
                            </div>
                            <div>
                              <div class="font-bold"><%= input_file.filename.to_s %></div>
                              <div class="text-sm opacity-50"><%= input_file.created_at.to_s %></div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <% if upload.files.attached? && upload.files.count > 1 %>
                            <% output_file = upload.files.second %>
                            <div class="flex items-center gap-3">
                              <div class="avatar">
                                <div class="w-12 h-12 mask mask-squircle">
                                  <a href="<%= rails_blob_path(output_file, disposition: "attachment") %>" class="venobox" data-title="output file (<%= output_file.filename.to_s%>)" data-gall="gal-<%= index %>">
                                    <%= image_tag output_file.variant(:thumb) %>
                                  </a>
                                </div>
                              </div>
                              <div>
                                <div class="font-bold"><%= output_file.filename.to_s %></div>
                                <div class="text-sm opacity-50"><%= upload.updated_at.to_s %></div>
                              </div>
                            </div>
                          <% end %>
                        </td>
                        <td> <%= render "uploads/status_badge", upload: upload %></td>
                        <th>
                          <%= link_to "Details", upload_path(upload), class: "transition bg-slate-800 dark:bg-white ease-in-out delay-100 hover hover:bg-violet-500 hover:text-white text-slate-800 bg:text-white btn btn-xs" %>
                        </th>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th>Input</th>
                  <th>Output</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="pagy-nav flex my-5 mb-5 pb-5 justify-center center-content">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  <% else %>
    <%= render "uploads/no_uploads" %>
  <% end %>
</div>