<%= render 'shared/nav' %>
<% if @uploads.any? %>
  <div class="hero bg-base-200">
    <div class="hero-content flex-col gap-5">
      <%= turbo_frame_tag "all_uploads" do %>
        <% @uploads.each do |upload| %>
          <div class="card bg-base-100 shadow-xl w-80">
            <%= render "uploads/status_badge", upload: upload %>
            <%= render "uploads/index_card", upload: upload %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="pagy-nav flex my-5 mb-5 justify-center center-content">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
<% else %>
  <%= render "uploads/no_uploads" %>
<% end %>
