<%= render 'nav' %>
<div class="hero bg-base-200 min-h-screen">
  <div class="overflow-x-auto">
    <table class="table-lg">
      <thead>
        <tr>
          <th>Input</th>
          <th>Output</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @uploads.each do |upload| %>
          <tr class="">
            <!-- Input File Column -->
            <td>
              <% if upload.files.attached? %>
                <% input_file = upload.files.first %>
                <% if input_file.content_type.start_with?('image/') %>
                  <div class="flex items-center gap-3">
                    <div class="avatar">
                      <div class="mask mask-squircle h-12 w-12">
                        <%= image_tag rails_blob_path(input_file, disposition: "inline"), alt: 'Input File thumbnail' %>
                      </div>
                    </div>
                  </div>
                <% elsif input_file.content_type.start_with?('video/') %>
                  <i class=""></i>
                <% elsif input_file.content_type.start_with?('audio/') %>
                  <i class=""></i>
                <% else %>
                  <i class=""></i> <!-- For other file types -->
                <% end %>
                <%= link_to 'Download', rails_blob_path(input_file, disposition: "attachment"), class: "" %>
              <% else %>
                <span class="">No input file attached</span>
              <% end %>
            </td>
            <!-- Output File Column -->
            <td class="">
              <% if upload.files.attached? && upload.files.count > 1 %>
                <% output_file = upload.files.second %>
                <% if output_file.content_type.start_with?('image/') %>
                  <div class="flex items-center gap-3">
                    <div class="avatar">
                      <div class="mask mask-squircle h-12 w-12">
                        <%= image_tag rails_blob_path(output_file, disposition: "inline"), alt: 'Output File thumbnail' %>
                      </div>
                    </div>
                  </div>
                <% elsif output_file.content_type.start_with?('video/') %>
                  <i class=""></i>
                <% elsif output_file.content_type.start_with?('audio/') %>
                  <i class=""></i>
                <% else %>
                  <i class=""></i> <!-- For other file types -->
                <% end %>
                <%= link_to 'Download', rails_blob_path(output_file, disposition: "attachment"), class: "" %>
              <% else %>
                <span class="">No output file attached</span>
              <% end %>
            </td>
            <!-- Actions Column -->
            <td class="">
              <%= link_to 'details', upload_path(upload), class: "btn btn-ghost btn-xs" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
