<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="flex flex-col">
    <div class="flex flex-col gap-x-5 gap-y-10 p-10">
      <%= form_with url: search_uploads_path, method: :post, local: true do %>
        <div class="flex flex-row justify-center content-center">
          <div class="field px-5">
            <%= text_field_tag :query, params[:query], placeholder: 'Enter search terms', class: "search-input-field" %>
          </div>
          <div class="actions">
            <%= submit_tag 'Search  ðŸ”', class: "btn btn-md bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex-col gap-x-5 gap-y-10 p-10">
      <% Rails.logger.info "Query in view: #{@query.inspect}" %>
      <% if @query == "" %>
          <%= render 'uploads/no_search' %>
      <% else %>
        <% if @results.present? %>
          <% @results.each_with_index do |upload, index| %>
            <% if index > 0 %>
              <div class="w-full h-5"></div>
            <% end %>
            <%= render "uploads/status_badge", upload: upload %>
            <%= render "uploads/index_card", upload: upload %>
          <% end %>
          <div class="pagy-nav flex my-5 mb-5 justify-center center-content">
            <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
          </div>
        <% else %>
          <%= render 'uploads/no_search_results' %>
        <% end %>
         <% end %>

    </div>
  </div>
</div>