<%= render 'shared/nav' %>
<%= turbo_frame_tag dom_id(@upload) do %>
  <div class="grid grid-flow-col-dense">
    <div class="card bg-base-150 flex-row p-10">
      <div class="p-5">
        <% if @upload.files.attached? %>
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
              <% input_file = @upload.files.first %>
              <div class="w-80 h-50 object-cover">
                <%= image_tag rails_blob_path(input_file, disposition: "inline"), alt: 'Input File thumbnail' %>
              </div>
            </figure>
            <div class="card-body">
              <div class="grid grid-flow-col">
                <h2 class="card-title">Input</h2>
                <div class="card-actions justify-end">
                  <%= link_to 'Download', rails_blob_path(input_file, disposition: "attachment"), class: "btn btn-outline btn-accent" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="card-body">
              <h2 class="card-title">Input</h2>
              <div class="card-actions justify-end">
                <p>No input file attached.</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="p-5">
        <% if @upload.files.attached? && @upload.files.count > 1 %>
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
              <% output_file = @upload.files.second %>
              <div class="w-80 object-cover">
                <%= image_tag rails_blob_path(output_file, disposition: "inline"), alt: 'Input File thumbnail' %>
              </div>
            </figure>
            <div class="card-body">
              <div class="grid grid-flow-col">
                <h2 class="card-title">Output</h2>
                <div class="card-actions justify-end">
                  <%= link_to 'Download', rails_blob_path(input_file, disposition: "attachment"), class: "btn btn-outline btn-accent" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="card-body">
              <h2 class="card-title">Output</h2>
              <div class="card-actions justify-end">
                <p>No output file attached.</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex gap-4 mt-4 justify-center">
    <%= link_to 'Close', uploads_path, class:  'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
    <% if @upload.user_id == current_user.id %>
      <%= button_to "Delete", upload_path(@upload), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500' %>
    <% end%>
  </div>
<% end %>